[user]
	name = yellowisk
	email = h245293@dac.unicamp.br
[safe]
  directory = /usr/lib/flutter

[includeIf "gitdir:/home/heito/Desktop/neuronhire/"]
  path = ~/.gitconfig-work
[init]
	defaultBranch = main

[alias]
  c   = commit
  ca  = commit --amend
  co  = checkout
  p   = push
  pl  = pull
  s   = status
  l   = log --oneline --graph --decorate
  d   = diff
  ds  = diff --staged
  br  = branch
