[user]
	name = yellowisk
	email = h245293@dac.unicamp.br
[safe]
  directory = /usr/lib/flutter

[includeIf "gitdir:/home/heito/Desktop/neuronhire/"]
  path = ~/.gitconfig-work
[init]
	defaultBranch = main

[alias]
  c    = commit -m
  ca   = commit --amend
  a    = add .
  co   = checkout
  p    = push origin
  pl   = pull origin
  s    = status
  l    = log --oneline --graph --decorate
  d    = diff
  ds   = diff --staged
  br   = branch
  st   = stash
  stp  = stash pop
  wta  = worktree add -b
  wtr  = worktree remove
  wtl  = worktree list
